@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

:root{
    --primary-color:#A259FF;
    --white-color:#ffffff;
}

h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 67px;
    font-weight: 700;
    color: var(--white-color);
}

p{
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color:#e7e7e7;
}

.btn-text{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--white-color);
}

h4{
    font-family: 'Space Mono';
    font-size: 28px;
    font-weight: 700;
    color: var(--white-color);
}

h3{
    font-family: 'Work Sans', sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: var(--white-color);
}

h5{
    font-family: 'work sana';
    font-size: 22px;
    font-weight: 700;
}

li{
    list-style: none;
    font-family: 'Work Sans', sans-serif;
}

.primary-btn{
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 15px 30px;
    cursor: pointer;
    transition: 0.2s ease;
    border-width: 0;
}

.primary-btn:hover{
    transform: scale(0.95);
    transition: all ease-in-out 500ms;
  }

/* .primary-btn:hover{
    background-color: #7741be;
} */

.secondary-btn{
    background-color: transparent;
    border-color: var(--primary-color);
    color: var(--white-color);
    padding: 15px 30px;
    cursor: pointer;
    transition: 0.2s ease;
}

.secondary-btn:hover{
    background-color: var(--primary-color);
    transform: scale(0.95);
    transition: all ease-in-out 500ms;
}

.flex{
    display: flex;
}
body{
    background-color: #2B2B2B;
}

.container{
    max-width:1180px ;
    margin-inline: auto;
    padding-inline: 20px
}
/* ------------------------------------------------- */

.nav-bar{
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
}

.nav-links{
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    color: var(--white-color);
    padding: 30px;
    transition: 300ms ease;
}

.nav-link:hover{
    color:var(--primary-color);
    padding: 30px;
    transform: scale(0.95);
    transition: all ease-in-out 500ms;
}

.sign-up-btn{
    border-radius: 20px;
    /* width: 152px;
    height: 60px; */
    align-items: center;
    gap: 15px;
    justify-content: center;
}
.sign-up-btn img{
    width: 20px;
    height: 20px
}

.menu-bar{
    width: 30px;
    height: 30px;
    display: none;
}

/* -------hero section---------- */

.hero-section{
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    gap: 30px;
}

/* .hero-img{
    width: 50%;
    align-content: center;
} */

.hero-img img{
    width: 100%;
    height: 100%;
    padding: 40px;
}

.hero-section-content{
    width: 50%;
}

.hero-section-content{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.get-started-btn{
    justify-content: center;
    gap: 15px;
    border-radius: 20px;
    align-items: center;
    margin-top: 5px;
}
.get-started-btn img{
    width: 20%;
    height: 20%;
}

.Additional-Info{
    justify-content: space-between;
    gap: 70px;
    margin-top: 10px;
}

/* ---------------Trending collection------------ */
.Trending-Collection{
    flex-direction: column;
    gap: 60px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.hover:hover{
    transform: scale(0.95);
    transition: all ease-in-out 500ms;
  }

.Trending-Collection-title p{
    font-weight: 400;
    margin-top: 10px;
}

.Collection-class-row{
    justify-content: space-between;
    align-items: center;
    /* gap: 20px; */
    flex-wrap: wrap;
}

.collections{
    flex-direction: column;
    gap: 15px;
}
.main-collection img{
    width: 330px;
    height: 330px;
}

.mini-collection{
    justify-content: space-between;
    gap: 15px;
    margin-top: 15px;
}

.mini-collection img{
    width: 100px;
    height: 100px;
    transition: all 150ms linear;
}

.mini-collection img:hover{
    transition: all 250ms linear;
}

.mini-collection div{
    background-color: var(--primary-color);
    width: 100px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.mini-collection div h4{
    font-size: 22px;   
}

.collection-info h4{
    font-family: 'work sans';
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.collection-info{
    margin-top: 15px;
}

.collection-info p{
    font-size: 20px;
    margin-left: 10px;
}

/* ----------Top creators----------- */

.top-creator{
    flex-direction: column;
    gap: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.creator:hover{
    transform: scale(0.95);
    transition: all ease-in-out 500ms;

}

.top-creator-title{
    justify-content: space-between;
    align-items: center;
    /* gap: 400px; */
}

.top-creator-btn{
    gap: 10px;
    align-items: center;
    border-radius: 20px;
}

.top-creator-btn img{
    width: 20px;
    height: 20px;
}

.ranking{
    background-color:#2b2b2b;
    border-radius: 20px;
    height: 30px;
    left: 20px;
    position: absolute;
    top: 18px;
    width: 30px;
    text-align: center;
}

.top-creator-card{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    
}

.creator-img img{
    width: 120px;
    height: 120px;
}

.creator{
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 240px;
    gap: 10px;  
    background-color: #3b3b3b;
    border-radius: 20px;
    cursor: pointer;
    flex: 1;
    height: auto;
    padding: 20px;
    position: relative;
    min-width: 240px;
}

.creator-content{
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.ranking h6{
    font-family: 'Space Mono';
    font-size: 16px;
    text-align: center;
    color: #858584;
    padding-top: 2px;
}

.creator-name h5{
    font-family: 'Work Sans';
    font-size: 22px;
    font-weight: 700;
    color: var(--white-color);
}

.creator-sales h5{
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 400;
    color: #858584;
}

.creator-sales h4{
    font-family: 'Space Mono';
    font-size: 16px;
    font-weight: 400;
    color: var(--white-color);
}

.creator-sales{
    gap: 10px;
}

/* -------------------Browse Categories------ */

.browse-categories{
    flex-direction: column;
    gap: 60px;
}

.category-section{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap:20px;
    column-gap: 10px;
}

.category{
    width: 240;
    height: 316px;
    border-radius: 20px;
    background-color: #3b3b3b;
    cursor: pointer;
    flex: 1;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 240px;
    max-width: 240px;
    /* 
    mix-blend-mode: normal;
    pointer-events: auto;
     */
}

.category:hover{
    transform: scale(0.95);
    transition: all ease-in-out 500ms;

}

.img-placehoalder img{
    background-color: transparent;
    height: 240px;
    width: 240px;
    left: 0px;
    top: 0px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
}

/* .img-placehoalder{
    background-color: transparent;
    height: 240px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 240px;
} */

.category-icon img{
    background-color: transparent;
    cursor: pointer;
    height: 100px;
    min-width: 100px;
    pointer-events: auto;
    position: relative;
}

.category-icon{
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px) brightness(100%);
    background-color: var(--white);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    gap: 10px;
    height: 240px;
    justify-content: center;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 240px;
}

 .category-img{
    align-self: stretch;
    background-color: transparent;
    border-radius: 20px 20px 0px 0px;
    height: 240px;
    min-width: 240px;
    position: relative;
}

.category-name{
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: auto;
    padding: 20px 30px 25px;
    position: relative;
}

.category-name h2{
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 30.8px;
    margin-top: -1px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    white-space: nowrap;
    color: var(--white-color);
    font-family: 'work sans';
    font-weight: 600;
}

/* --------discover--------- */

.discover-more{
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.discover-title{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.discover-card:hover{
    transform: scale(0.95);
    transition: all ease-in-out 500ms;
}

.see-all-btn{
    gap: 10px;
    align-items: center;
    border-radius: 20px;
    
}

.discover-cards{
    flex-wrap: wrap;
    justify-content: space-between;
}

.discover-card{
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 330px;
    height: 470px;
    background-color: #3b3b3b;
    border-radius: 20px;
}

.discover-card img{
    width: 330px;
    height: 296px;
    border-radius: 20px 20px 0 0;
    top: 0;
    left: 0;
    position: relative;
}

.discover-content{
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 30px;
    gap: 25px;
}

.discover-profile{
    gap: 10px;
    align-items: center;
}

.discover-profile img{
    width: 25px;
    height: 25px;
}

.profile-title h5{
    font-family: 'Work Sans';
    font-size: 22px;
    font-weight: 500;
    color: var(--white-color);
    padding-bottom: 5px;
}

.discover-profile p{
    font-family: 'Space Mono';
    font-size: 18px;
    font-weight: 400;
    color: var(--white-color);
}

.profile-info h4{
    font-family: 'Space Mono';
    font-size: 12px;
    font-weight: 400;
    color: #858584;
}

.profile-info h5{
    font-family: 'Space Mono';
    font-size: 18px;
    font-weight: 200;
    color: #FFFFFF;
}

.profile-info{
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.price{
    flex-direction: column;
    justify-content: flex-start;
}

.bid{
    flex-direction: column;
    justify-content: flex-end;
}

/* ----------magic---------- */

.magic{
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    background-image: url(assests/magic.png);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: auto;
    mix-blend-mode: normal;
    position: relative;
}

.magic-info{
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.magic-profile img{
    width: 24px;
    height: 24px;
}

.magic-profile{
    flex-direction: row;
    align-items: center;
    gap: 15px;
    background-color: #3B3B3B;
    border-radius: 20px;
    padding: 11px 20px;
    width: 180px;
}

.magic-title h2{
    font-family: 'Work Sans';
    font-size: 51px;
    font-weight: 700;
    color: #FFFFFF;
}

.magic-btn{
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    gap: 10px;
    width: 200px;
    justify-content: center;
}

.magic-time h4{
    font-family: 'Space Mono';
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

.magic-time h3{
    font-family: 'Space Mono';
    font-size: 38px;
    font-weight: 700;
    color: #FFFFFF;
}

.time{
    justify-content: space-between;
    align-items: center;
}

.magic-time{
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    background-color: #3b3b3b80;
    border-radius: 30px;
    padding: 20px;
    width: 300px;
}

.magic-content{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin-top: 300px;
}

.purple-bg{
    align-items: flex-end;
    align-self: stretch;
    background: linear-gradient(180deg, rgba(162.00005114078522, 89.00000989437103, 255, 0) 0%, rgb(162.00000554323196, 89.00000229477882, 255) 100%);
    background-color: transparent;
    display: flex;
    height: auto;
    justify-content: center;
    mix-blend-mode: normal;
    padding: 360px 195px 60px;
    position: relative;
    height: 600px;
}

/* -----how it works------ */

.works{
    flex-direction: column;
    /* gap: 20px; */
    margin-top: 70px;
    margin-bottom: 70px;
    justify-content: flex-start;
    gap: 40px;

}

.card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 30px 15px 30px;
    background-color: #3B3B3B;
    width: 330px;
    height: 439px;
    border-radius: 20px;
}

.card img{
    width: 250px;
    height: 250px;
}

.work-content h5{
    font-family: 'Work Sans';
    font-size: 22px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 10px;
}

.work-content p{
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    line-height: 120%;
}

.works-cards{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.works-title h3{
    padding-bottom: 15px;
}

/* -----email------ */

.email{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    background-color: #3B3B3B;
    padding: 40px;
    border-radius: 20px;
}
.email-img img{
    width: 425px;
    height: 310px;
    border-radius: 20px;
}

.email-title h3{
    font-family: 'Work Sans';
    font-size: 38px;
    font-weight: 700;
    color: var(--white-color);
}

.email-title p{
    font-family: 'Work Sans';
    font-size: 22px;
    font-weight: 400;
    color: var(--white-color);
}

.subscribe-btn{
    justify-content: center;
    gap: 15px;
    align-items: center;
    border-radius: 20px;
    width: 200px;
    height: 60px;
}

.email-title{
    flex-direction: column;
    justify-content:flex-start ;
    gap: 40px;
    width: 500px;
}

/* -----footer----------- */

.footer{
    background-color: #3B3B3B;
    padding: 50px 0;
    position: relative;;
    margin-top: 40px;
}

.footers{
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.sm img{
    width: 32px;
    height: 32px;
    gap: 5px;
    align-items: center;
}

.sm{
    margin-top: 10px;
    gap: 30px;
    align-items: center;
}
.footer p{
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 400;
    color: #CCCCCC;
}

.info{
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.explore{
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.join{
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.footer h1{
    font-family: 'Space Mono';
    font-size: 22px;
    font-weight: 800;
}

@media screen and (max-width: 960px){
    .menu-bar{
        display: inline;
    }

    .nav-links, .sign-up-btn{
        display: none;
    }
    .Trending-Collection{
        margin-top: 0;
    }

}

@media screen and (max-width: 1069px) {
    .container{
        max-width:800px ;
        margin-inline: auto;
        /* padding-inline: 20px */
    }


    .discover-card-3{
        display: none;
    }

    h1{
        font-size: 36px;
    }
    
    p{
        font-size: 16px;
    }
    
    .btn-text{
        font-size: 16px;
    }
    .primary-btn{
    padding: 10px 20px;
    }
    .collection-3, .creator-7,.creator-8,.creator-9,.creator-10,.creator-11,.creator-12{
        display: none;
    }
    .footers{
        flex-direction: column;
    }
    .card{
        width: 240px;
        padding: 0 20px 10px 20px;
    }
    .card img{
    width: 200px;
    height: 200px;
    }
    

    .category{
        width: 180px;
        height: 276px;
        min-width: 180px;
        max-width: 180px;       
        
    }
    
    .category:hover{
        transform: scale(0.95);
        transition: all ease-in-out 500ms;
    
    }
    
    .img-placehoalder img{
        height: 180px;
        width: 180px;
        left: 0px;
        top: 0px;
    }
    
    .category-icon img{
        height: 60px;
        min-width: 60px;
    }
    
    .category-icon{
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(15px) brightness(100%);
        background-color: var(--white);
        width: 180px;
        border-radius: 10px 10px 0px 0px;
        height: 200px;
        
    }
    
     .category-img{
        align-self: stretch;
        background-color: transparent;
        border-radius: 10px 10px 0px 0px;
        height: 200px;
        min-width: 180px;
        position: relative;
    }
    
    .category-name{
        align-items: flex-start;
        align-self: stretch;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        gap: 25px;
        height: auto;
        padding: 20px 30px 25px;
        position: relative;
    } 
    .category-name h2{
        font-size: 16px;
    }
}

@media screen and (max-width: 810px){
    .container{
        max-width:500px ;
        margin-inline: auto;
    }
    .hero-section{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .hero-section-content{
        justify-content: center;
        align-items: center;
        width: fit-content;
    }
    .hero-section-content h1,.hero-section-content p{
        text-align: center;
    }
    .hero-section{
        padding: 10px 10px;
    }
    .Trending-Collection-title{
        align-items: center;
        justify-content: center;
    }
    .Trending-Collection-title h3,.Trending-Collection-title p{
        text-align: center;
    }
    .Collection-class-row{
        justify-content: center;
        gap: 30px;
    }
    /* ----------------------------------------- */
    .top-creator-title{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .top-creator-title h3,.top-creator-title p{
        text-align: center;
    }
    .creator{
        flex-direction: row;
        gap: 20px;
    }
    .creator-content{
        flex-direction: column;
        gap: 15px;
    }
    /* ----------------------------------------- */
    .discover-title{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    .discover-title h3, .discover-title p{
        text-align: center;
    }
    .discover-cards{
        justify-content: center;
        gap: 25px;
    }
     /* ----------------------------------------- */
    .works-cards{
        flex-direction: column;
        gap: 15px;
    }
    .card{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: fit-content;
    }
     /* ----------------------------------------- */
    .email{
        flex-direction: column;
        gap: 20px;
        background-color: transparent;

    }
    .email-title{
        align-items: center;
    }
    .email-title h3, .email-title p{
        text-align: center;
    }

}
@media screen and (max-width: 600px){
    .Trending-Collection{
        margin-top: 60px;
    }
    .browse-categories h3{
        font-size: 24px;
    }
    .browse-categories{
        gap: 20px;
    }
    .top-creator-title h3{
        font-size: 24px;
    }
    .magic-content{
        flex-direction: column;
        gap: 20px;
    }
    .magic-info{
        justify-content: center;
        align-items: center;
    }
    .magic-title{
        text-align: center;
    }
    .email{
        justify-content: center;
        align-items: center;
        padding-inline: 0;
    }
    .creator-img img{
        width: 80px;
        height: 80px;
    }
    .top-creator-card{
        gap: 20px;
    }
}
@media screen and (max-width: 510px){
    .container{
        max-width:370px ;
        margin-inline: auto;
        padding-inline: 0;
    }
    .category-section{
        gap: 10px;
    }
    .email-img img{
        width: 350px;
        height: 300px;
    }
    .email{
        justify-content: flex-start;
        align-items: flex-start;
    }
    .email-title h3{
        font-size: 24px;
        text-align: left;
    }
    .email-title p{
        font-size: 16px;
        display: inline;
        text-align: left;
    }
    .card img{
        width: 100px;
        height: 100px;
    }
    .work-content h5{
        font-size: 16px;
    }
    .work-content p{
        font-size: 12px;
    }
    .info h4{
        font-size: 22px;
    }
    .info p{
        font-size: 16px;
    }
    .Additional-Info{
        justify-content: space-between;
    }
    .purple-bg{
        padding: 0;
    }
    .nav-bar{
        padding: 20px 10px;
    }
    .magic-content{
        margin-bottom: 80px;
    }
    
}

@media screen and (max-width: 360px){
    .email-img img{
        width: 330px;
        height: 300px;
    }
    .hero-img img{
        padding: 0;
    }
    .Additional-Info{
        gap: 50px;

    }
    .container{
        max-width:344px ;
        margin-inline: auto;
        padding-inline: 0;
    }
    .category-section{
        padding: 0 5px;
    }
    .category{
        width: 160px;
        height: 216px;
        min-width: 160px;
        max-width: 160px; 
        border-radius: 10px;      
        
    }
    
    .category:hover{
        transform: scale(0.95);
        transition: all ease-in-out 500ms;
    
    }
    
    .img-placehoalder img{
        height: 120px;
        width: 160px;
        left: 0px;
        top: 0px;
        border-radius: 10px 10px 0 0;
    }
    
    .category-icon img{
        height: 40px;
        min-width: 40px;
    }
    
    .category-icon{
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(15px) brightness(100%);
        background-color: var(--white);
        width: 160px;
        border-radius: 10px 10px 0px 0px;
        height: 140px;
        
    }
    
     .category-img{
        align-self: stretch;
        background-color: transparent;
        border-radius: 10px 10px 0px 0px;
        height: 140px;
        min-width: 160px;
        position: relative;
    }
    
    .category-name{
        align-items: flex-start;
        align-self: stretch;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: auto;
        padding: 20px 30px 25px;
        position: relative;
    } 
    .category-name h2{
        font-size: 16px;
    }
}